appdirs==1.4.3
arviz==0.7.0
asn1crypto==1.2.0
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.8.2
black==19.10b0
bleach==3.1.0
blis==0.4.1
catalogue==1.0.0
certifi==2019.11.28
cffi==1.13.0
cftime==1.1.1.2
chardet==3.0.4
Click==7.0
colorama==0.4.3
conda==4.8.3
conda-package-handling==1.6.0
cryptography==2.8
cycler==0.10.0
cymem==2.0.3
Cython==0.29.16
decorator==4.4.2
defusedxml==0.6.0
en-core-web-sm==2.2.5
entrypoints==0.3
flake8==3.7.9
idna==2.8
importlib-metadata==1.5.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.16.0
Jinja2==2.11.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.1
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
murmurhash==1.0.0
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==5.0.4
netCDF4==1.5.3
notebook==6.0.3
numpy==1.18.1
olefile==0.46
packaging==20.1
pandas==1.0.3
pandocfilters==1.4.2
parso==0.6.1
pathspec==0.7.0
pickleshare==0.7.5
Pillow==7.0.0
plac==0.9.6
preshed==3.0.2
prometheus-client==0.7.1
prompt-toolkit==3.0.3
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pyflakes==2.1.1
Pygments==2.5.2
pyOpenSSL==19.0.0
pyparsing==2.4.6
pyrsistent==0.15.7
PySocks==1.7.1
pystan==2.19.1.1
python-dateutil==2.8.1
pytorch-nlp==0.5.0
pytz==2019.3
pywin32==223
pywinpty==0.5.7
pyzmq==18.1.1
qtconsole==4.7.1
QtPy==1.9.0
regex==2020.2.20
requests==2.22.0
ruamel-yaml==0.15.46
scipy==1.4.1
Send2Trash==1.5.0
sentencepiece==0.1.85
six==1.12.0
soupsieve==1.9.5
spacy==2.2.3
srsly==1.0.0
terminado==0.8.3
testpath==0.4.4
thinc==7.3.0
toml==0.10.0
torch==1.4.0
torchtext==0.5.0
torchvision==0.5.0
tornado==6.0.4
tqdm==4.36.1
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.1
urllib3==1.24.3
wasabi==0.6.0
wcwidth==0.1.8
webencodings==0.5.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
xarray==0.15.0
zipp==2.2.0
